.edit {
    margin-top: 20px;
    position: relative;
    width: 100%;

}

#image-container {
    background: #eaeaea;
    border: 1px solid #ccc;

}

.scale-handle {
    background-color: blue;
    border-radius: 50%;
}

#image-watermark {
    transition: opacity 0.3s;
    /* transform: translate(-50%, -50%); */
}

#text-watermark {
    position: absolute;
    margin: 0;
    padding: 0;
}

#main-image{
    width:inherit;
}
