<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/edit.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
    <div class="show">
    <div class="container">

        <h2>Add watermark to your picture!</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="upload-btn-wrapper">
                <button type="button">Choose a picture</button>
                <input type="file" name="picture" id="picture"/>
                <span id="pic-name">No file selected</span>
                <img id="pic-preview" src="" alt="Picture preview" style="width: 200px;display: none; "><br><br>
    
            </div>
            <div class="upload-btn-wrapper">
                <button type="button">Choose a watermark</button>
                <input type="file" name="watermark" id="watermark"/>
                <span id="water-name">No file selected</span>
                <img id='water-preview' src="" alt="Picture preview" style="width: 200px;display: none; "><br><br>
            </div>
            <br>
            <button type="submit">Upload</button>
        </form>
        {%if result%}
        <a href="{{url_for('download_image')}}" class="button">download_image</a>
        {%endif%}
        <a href="{{url_for('edit')}}" class="button">edit</a>
    
    
    
    </div>
</div>

    <div class="edit">
        <div id="image-container" style="position: relative; width: 100%;">
            <img id="main-image" src="" alt="Main Image">
            <div id="image-watermark" style="position: absolute; top: 0; left:0; opacity: 1; width: 100px; height: 100px;">
                <img id="image-watermark-inner" src="" style="width: 100%; height: 100%;" alt="Watermark">
            
                <!-- <div id="scale-handle" style="position: absolute; bottom: 0; right: 0; width: 100%; height: 100%; background: transparent; cursor: nwse-resize; border-width: 50px; border-color: blue;"></div> -->
                  <!-- The scaling frame -->
                <div id="scaling-frame" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 2px solid blue;">
                <!-- Scaling handles -->
                <div class="scale-handle" id="scale-top-left" style="position: absolute; top: -5px; left: -5px; width: 10px; height: 10px; background-color: blue; cursor: nw-resize;"></div>
                <div class="scale-handle" id="scale-top-right" style="position: absolute; top: -5px; right: -5px; width: 10px; height: 10px; background-color: blue; cursor: ne-resize;"></div>
                <div class="scale-handle" id="scale-bottom-left" style="position: absolute; bottom: -5px; left: -5px; width: 10px; height: 10px; background-color: blue; cursor: sw-resize;"></div>
                <div class="scale-handle" id="scale-bottom-right" style="position: absolute; bottom: -5px; right: -5px; width: 10px; height: 10px; background-color: blue; cursor: se-resize;"></div>
                <!--corners  -->
                <div class="scale-handle" id="scale-bottom" style="position: absolute; bottom: -5px; right: 45%; width: 10px; height: 10px; background-color: blue; cursor: s-resize;"></div>
                <div class="scale-handle" id="scale-right" style="position: absolute; bottom: 45%; right: -5px; width: 10px; height: 10px; background-color: blue; cursor: w-resize;"></div>
                <div class="scale-handle" id="scale-top" style="position: absolute; top: -5px; right: 45%; width: 10px; height: 10px; background-color: blue; cursor: n-resize;"></div>
                <div class="scale-handle" id="scale-left" style="position: absolute; bottom: 45%; left: -5px; width: 10px; height: 10px; background-color: blue; cursor: e-resize;"></div>
            </div>
            </div>
            
            
            <p id="text-watermark" style="color:green; font-size: 25px;"></p>
    
        </div>
        <button id="get-position-btn" >Get Watermark Position</button>
    </div>
</div>
    <script src="/static/js/edit.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>